.root {
    background-color: #eee;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.list {
    padding: 20px 80px;
    position: relative;
}

.add-button.button {
    margin-left: 8px;
    width: 100px;
    height: 55px;
    background-color: cornflowerblue;
    color: white;
}

